In [5]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [6]:
li = ["abc", 34, 4.34, 23]

In [7]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-lin
string that uses triple quotes."""

In [8]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

'abc'

In [9]:
li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

34

In [10]:
st = "Hello World"
st[1] # Second character in string.

'e'

In [11]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [12]:
t[1]

'abc'

In [13]:
t[-3]

4.56

In [14]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [15]:
t[1:4]

('abc', 4.56, (2, 3))

In [16]:
t[1:-1]

('abc', 4.56, (2, 3))

In [17]:
t[1:-1:2]

('abc', (2, 3))

In [18]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [19]:
t[:2]

(23, 'abc')

In [20]:
t[2:]

(4.56, (2, 3), 'def')

In [21]:
t[2:]

(4.56, (2, 3), 'def')

In [26]:
list2 = list1 # 2 names refer to 1 ref
# Changing one affects both
list2 = list1[:] # Two independent copies, two refs

NameError: name 'list1' is not defined

In [29]:
t = [1, 2, 4, 5]

In [30]:
3 in t

False

In [31]:
4 in t

True

In [32]:
 4 not in t

False

In [33]:
 a = 'abcde'

In [34]:
'c' in a

True

In [35]:
'cd' in a

True

In [36]:
 'ac' in a

False

In [37]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [38]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [39]:
"Hello" + " " + "World"

'Hello World'